html {
  scroll-behavior: smooth;
}

section {
  opacity: 0.5;
  transform: translateY(30px);
  animation-fill-mode: forwards;
}

@keyframes popIn {
  0% { opacity: 0; transform: scale(0.9) translateY(30px); }
  60% { opacity: 1; transform: scale(1.05) translateY(0); }
  100% { transform: scale(1); }
}

.pop-in {
  animation: popIn 1s ease forwards;
}

#scroll-indicator {
  opacity: 1;
  transition: opacity 0.5s ease;
}

#bg-lines {
  position: fixed;
  inset: 0;
  background:
    repeating-linear-gradient(
      90deg,
      rgba(59,130,246,0.4) 0px,
      rgba(59,130,246,0.4) 2px,
      transparent 3px,
      transparent 120px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(59,130,246,0.4) 0px,
      rgba(59,130,246,0.4) 2px,
      transparent 3px,
      transparent 120px
    );
  background-size: 120px 120px;
  overflow: hidden;
}

#bg-lines::after {
  content: "";
  position: absolute;
  top: -200%;
  left: -200%;
  width: 400%;
  height: 400%;
  background: linear-gradient(
    130deg,
    transparent 0%,
    rgba(5, 11, 19, 0.609) 40%,
    rgba(17, 34, 53, 0.6) 50%,
    transparent 60%
  );
  animation: shine 10s ease-in-out infinite;
  pointer-events: none;
  mix-blend-mode: screen;
}

@keyframes shine {
  0% {
    transform: translate(-30%, -30%);
  }
  50% {
    transform: translate(30%, 30%);
  }
  100% {
    transform: translate(-30%, -30%);
  }
}

#dynamic-text {
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  transition: opacity 0.3s ease;
}